* {
	padding: 0;
	margin: 0;
	font-family: monospace;
	font-size: 1em;
}

body {
	background-color: black;
	color: white;
}

#terminal-window {
	margin: 10%;
	border: 1px solid white;
	border-radius: 2px;
}

ul {
	display: inline-block;
	list-style: none;
}

li {
	/*display: inline-block;*/
}

pre {
	display: inline-block;
}

#input {
	display: inline-block;
	/*visibility: hidden;*/
	opacity: 0;
}

#cursor {
	width: 12px;
	height: 1em;
	background-color: white;
	display: inline-block;
	visibility: hidden;
}